.inactive {
    display: none;
  }
  
  .slide {
    display: none;
    max-width: 56.25rem;
    text-align: center;
  }
  
  .active {
    display: block;
  }
  
  .slider {
    border : 0.625rem solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 6.25rem 0 0 0;
  }
  
  .slider-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  
  
  .slider-text {
    width: 50rem;
  }
  .buttons{
    display:  flex;
    flex-direction: row;
    margin : 0 11.875rem;
  }

  .item{
    margin-left: 1.25rem;
  }
  .image{
    width :90%;
    height :90%;
    margin: 0 auto;
    animation: imageslider 3s 1;

  }
  @keyframes imageslider{
    0%{
      opacity: 0;
    }
     100%{
     opacity: 1;
     }
  }
  .dot {
   
  }

  