:root {
    --default-layout-background:black;
    --default-opaque-background:#ffffff;
    --default-layout-background-light: #f1f3f6;
    --default-label-background :#f0f0f0;
    --button-background :#ed8936;
    --modal-background :#00000050;
    --modal-border: #999;
  }
  