.empty{
    padding: 1rem;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.dogIcon{
    width: 20rem;
    height: 15rem;
    margin: 0 auto;
}
.homeLink{
    font-size: 0.9rem;
    cursor: pointer;
}

.highlight{
    font-weight: 450;
}

@media (min-width: 600px){
.empty{
    padding: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
}
.dogIcon{
    width: 35rem;
    height: 20rem;
    margin: 0 auto;
}
.homeLink{
    font-size: 2rem;
    cursor: pointer;
}
}