.cart_item_bubbles{
    position: absolute;
    top: 1.5625rem;
    left:3.8rem;
    background-color: red;
    width: 1.2rem;
    border-radius: 4rem;
    height: 1.2rem;
    text-align: center;
    padding: 0.1rem;
}