.content{
    display: flex;
    flex-direction: row;
    overflow: hidden;  
}

.text{
    margin :5rem auto;
   
}
/* Mobile screen */
@media screen and (max-width: 600px) {
    .content{
        display: block;
    }
    .text{
        margin :2.5rem auto;
        padding :1.25rem;
    }

  }